<div class="form">
  <button
    mat-raised-button
    color="primary"
    class="form__button"
    [disabled]="!areTeamsReady"
    (click)="onClickStart()"
  >
    Start
  </button>
  <mat-tab-group mat-stretch-tabs [animationDuration]="'0'" class="form__nav">
    <mat-tab label="PvP">
      <div class="form__team" *ngFor="let team of teams; let i = index">
        <div class="form__team-header">
          <p>First player</p>
          <button
            mat-raised-button
            color="primary"
            class="form__button"
            [disabled]="!team.name"
            (click)="store.setRandomTeam(team.name)"
          >
            Random
          </button>
        </div>
        <app-team-form
          (teamChange)="onTeamChange(i, $event)"
          [(team)]="team"
          [fieldPart]="'top'"
        ></app-team-form>
        <mat-divider></mat-divider>
      </div>
    </mat-tab>
    <mat-tab label="PvE">
      <div class="form__team">
        <p>First player</p>
        <!--        <app-team-form [(team)]="team1"></app-team-form>-->
      </div>
    </mat-tab>
  </mat-tab-group>
  <button
    mat-raised-button
    color="primary"
    class="form__button"
    [disabled]="!areTeamsReady"
    (click)="onClickStart()"
  >
    Start
  </button>
</div>
