<div class="form">
  <button mat-raised-button color="primary" class="form__button">Start</button>
  <mat-tab-group
    mat-stretch-tabs
    [animationDuration]="0"
    class="form__nav"
    (selectedTabChange)="log($event)"
  >
    <mat-tab label="PvP">
      <div class="form__team">
        <p>First player</p>
        <app-team-form [(team)]="team1" [fieldPart]="'top'"></app-team-form>
      </div>
      <mat-divider></mat-divider>
      <div class="form__team">
        <p>Second player</p>
        <app-team-form [(team)]="team2" [fieldPart]="'bottom'"></app-team-form>
      </div>
    </mat-tab>
    <mat-tab label="PvE">
      <div class="form__team">
        <p>First player</p>
        <!--        <app-team-form [(team)]="team1"></app-team-form>-->
      </div>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button color="primary" class="form__button">Start</button>
</div>
