.form {
  display: flex;
  flex-direction: column;

  &__nav {
    margin-top: 20px;
  }

  &__team {
    padding: 50px 0;

    &-header {
      display: flex;
      justify-content: space-between;
    }
  }

  &__button {
    align-self: flex-end;
  }
}
