<div class="form">
  <mat-form-field class="form__input">
    <input
      matInput
      placeholder="Team name"
      [ngModel]="team.name"
      (ngModelChange)="onNameChange($event)"
    />
  </mat-form-field>
  <div [className]="fieldPart + '-half form__grid'">
    <app-grid
      [halves]="fieldPart"
      class="form__grid_inner"
    ></app-grid>
    <div
      class="player"
      *ngFor="let player of players"
      (click)="setPlayer(player)"
    >
      <span [className]="'player-label player-label_' + player.skill">{{ player.position }}</span>
    </div>
  </div>
</div>
