.form {
  &__grid {
    width: 28%;

    &.top-half {
      padding-bottom: 19%;
    }
    &.bottom-half {
      padding-top: 19%;
    }

    display: flex;
    flex-wrap: wrap;

    margin: 10px auto 0;

    position: relative;

    &_inner {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }

  &__player {
    width: 33%;
    cursor: pointer;

    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    &-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: center;
      align-items: center;

      width: 25px;
      height: 25px;

      border: 3px solid;
      border-radius: 50%;

      font-size: 10px;

      &_0 {
        border-color: #9e9e9e;
      }

      &_1 {
        border-color: #d32f2f;
      }

      &_2 {
        border-color: #fdd835;
      }

      &_3 {
        border-color: #43a047;
      }
    }
  }
}
